.hero {
  width: 100%;
  height: calc(100vh - 70px);
  background: url('/images/fondoAnime.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  outline: #162142 solid 10px;
  border-radius: 20px;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* hero es el div de la imagen */
.hero-content {
  position: relative;
  z-index: 10;
  text-align: center;
}

.hero-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

/* esto es para el buscador */
.buscar {
  width: 380px;
  padding: 12px 15px;
  border-radius: 6px;
  border: none;
  background: rgba(255, 255, 255, 0.466);
  font-size: 16px;
}

.section-title {
  color: #fff;
  margin: 40px 0 15px 30px;
  font-size: 28px;
}

.anime-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 30px;

  scroll-behavior: smooth;
}

.anime-row::-webkit-scrollbar {
  height: 6px;
}

.anime-row::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

/* aqui hago la carta del anime */
.anime-item {
  min-width: 170px;
  text-align: center;
  text-decoration: none;
  color: #eee;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(6px);

  border-radius: 14px;
  padding: 12px;
  
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);

  cursor: pointer;
}

/* essto es para la imagen */
.anime-item img {
  width: 150px;
  height: 215px;
  object-fit: cover;
  border-radius: 10px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.anime-item:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0px 0px 20px rgba(97, 156, 255, 0.4);
}

.anime-item:hover img {
  transform: scale(1.08);
  box-shadow: 0px 0px 15px rgba(120, 180, 255, 0.45);
}

/* esto ese l titulo */
.anime-item p {
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  opacity: 0.9;

  transition: color 0.25s ease, opacity 0.25s ease;
}

.anime-item:hover p {
  color: #aaccff;
  opacity: 1;
}

.anime-image-wrapper {
  position: relative;
  width: 150px; 
  height: 215px; 
}

.anime-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Esto es para la puntuacion q me salga a la izquierda arriba */
.anime-score-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(97, 156, 255, 0.85);
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 3px 7px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(97, 156, 255, 0.6);
}

.anime-item:hover img {
  transform: scale(1.08);
  box-shadow: 0 0 15px rgba(120, 180, 255, 0.45);
}

/* aqui uso webkit para que el texto como maximo ocupe 3 lineas */
.anime-title {
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  opacity: 0.9;

  max-width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

